:root {
    --main-color: #ffc64d;
    --light-main-color: #ffd782;

    --dark-gray: #9f9f9f;
    --littledark-gray: #d7d7d7;
    --gray : #dedede;
    --light-gray: #f3f3f3;
    --black: #4f4f4f;
    --background: white;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 400ms;
    background: var(--background);
}

.main-container {
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    font-weight: 600;
}

section.active{
    opacity: 0;
    transition: 400ms;
}

section {
    transition: 400ms;
}

section h2 {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 4px;
    background: linear-gradient(to top, var(--main-color) 0%, var(--main-color) 4px, transparent 5px) no-repeat;
    transition: ease 0.2s;
    background-size: 100% 100%;
}

section:hover h2{
    background-size: 50% 100%;
    transition: ease 0.2s;
}


/* darkmode */

.night * {
    color: white;
    transition: color 400ms;
}

.night main section.skills .skills-container i {
    color: white;
}

.night {
    --main-color: #eca100;
    --light-main-color: #f5c765;

    --dark-gray: #9f9f9f;
    --gray : #dedede;
    --littledark-gray: #131b24;
    --light-gray: #293340;
    --black: #4f4f4f;
    --background: #1c2633;
}

.night .header__nav__link__container {
    background: #2b3644;
}

.night .header__nav__link__work span, .night .header__nav__link__work i {
    color: black;
}

.night .header__icons__img#nightmode_btn {
    transform: translateX(-30px);
    visibility: visible;
    opacity: 1;
}

.night .header__icons__img#lightmode_btn {
    visibility: hidden;
    opacity: 0;
}

/* icons */

main img, main i {
    transition: 200ms;
    color: var(--black);
}

.card__stack__language[data-language="laravel"]:hover img, img[title="laravel"]:hover {
    transition: 600ms;
    filter: invert(38%) sepia(78%) saturate(5826%) hue-rotate(347deg) brightness(97%) contrast(110%)!important;
}

.card__stack__language[data-language="lumen"]:hover img, img[title="lumen"]:hover {
    transition: 600ms;
    filter: invert(55%) sepia(80%) saturate(3773%) hue-rotate(328deg) brightness(110%) contrast(91%)!important;
}

.card__stack__language[data-language="css"]:hover i, i:hover.devicon-css3-plain {
    transition: 200ms;
    color: #2465f1!important;
}

.card__stack__language[data-language="html"]:hover i, i:hover.devicon-html5-plain {
    transition: 200ms;
    color: #f26524!important;
}

.card__stack__language[data-language="javascript"]:hover i, i:hover.devicon-javascript-plain {
    transition: 200ms;
    color: #ffd739!important;
}

.card__stack__language[data-language="mySql"]:hover i, i:hover.devicon-mysql-plain {
    transition: 200ms;
    color: #016089!important;
}

.card__stack__language[data-language="php"]:hover i, i:hover.devicon-php-plain {
    transition: 200ms;
    color: #787cb4!important;
}

.card__stack__language[data-language="scss"]:hover i, i:hover.devicon-sass-original {
    transition: 200ms;
    color: #f06292!important;
}

.card__stack__language[data-language="gitlab"]:hover i, i:hover.devicon-gitlab-plain {
    transition: 200ms;
    color: #fc6d25!important;
}

.card__stack__language[data-language="woocommerce"]:hover i, i:hover.devicon-woocommerce-plain {
    transition: 200ms;
    color: #8053b4!important;
}

.card__stack__language[data-language="wordpress"]:hover i, i:hover.devicon-wordpress-plain {
    transition: 200ms;
    color: #1b769c!important;
}

.card__stack__language[data-language="jQuery"]:hover i, i:hover.devicon-jquery-plain {
    transition: 200ms;
    color: #1168ae!important;
}

.card__stack__language[data-language="nodejs"]:hover i, i:hover.devicon-nodejs-plain {
    transition: 200ms;
    color: #68a063!important;
}

.card__stack__language[data-language="react"]:hover i, i:hover.devicon-react-original {
    transition: 200ms;
    color: #60dbfb!important;
}

.card__stack__language[data-language="bootstrap"]:hover i, i:hover.devicon-bootstrap-plain {
    transition: 200ms;
    color: #7f09f9!important;
}

.card__stack__language[data-language="git"]:hover i, i:hover.devicon-git-plain {
    transition: 200ms;
    color: #f44d27!important;
}

.card__stack__language[data-language="linux"]:hover i, i:hover.devicon-linux-plain {
    transition: 200ms;
    color: #f9c220!important;
}

.card__stack__language[data-language="npm"]:hover i, i:hover.devicon-npm-original-wordmark {
    transition: 200ms;
    color: #cc3533!important;
}

.card__stack__language[data-language="docker"]:hover i, i:hover.devicon-docker-plain {
    transition: 200ms;
    color: #2597ec!important;
}

.card__stack__language[data-language="npm"]:hover i, i:hover.devicon-figma-plain {
    transition: 200ms;
    background: linear-gradient(180deg, rgba(10,201,127,1) 0%, rgba(157,86,246,1) 50%, rgba(248,109,96,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* RESPONSIVE */

@media screen and (max-width: 400px) {
    body {
        padding: 20px 30px;
    }

    footer .footer__links {
        gap: 30px!important;
    }
}